.App {
  text-align: center;
  background-color: rgba(0, 27, 45, 0.9);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
